**.o
**.lo
**~

Makefile
conf/Makefile
conf/ifplugd.init
config.h
config.log
config.status
doc/Makefile
man/Makefile
man/ifplugd.8.xml
man/ifplugd.conf.5.xml
man/ifplugstatus.8.xml
patches/Makefile
src/.deps/
src/Makefile
src/ifplugd
src/ifplugstatus
stamp-h1
